# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment Variables
.env

# Database
sqlite.db
*.sqlite3

# IDEs
.vscode/
.idea/

# Logs
*.log
.agent